body {
    max-width: 500px;
    margin: auto;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: cadetblue;
    text-shadow: 3px 3px rgba(0,0,0,0.2);
}

#m {
    color: cadetblue;
    font-style: italic;
}

#n {
    padding: 0.25rem 0.5rem;
    display: block;
    width: 100%;
    font-size: 2rem;
}